In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Eve', 'Bob', 'Eve','Red'],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles', 'Chicago','St.louis'],
    'Event': ['Concert', 'Sports', 'Concert', 'Theatre', 'Sports', 'Theatre','Office'],
    'Date': ['2023-10-01', '2023-10-02', '2023-10-01', '2023-10-03', '2023-10-02', '2023-10-03','2023-10-04'],
    'Salary': [50000, 60000, 50000, 70000, 60000, 70000,80000],
    'Age': [25, 30, 25, 35, 30, 35, 40]
}
df = pd.DataFrame(data)

# Detect duplicates
#duplicates = df.duplicated()
print(df)

    Name         City    Event        Date  Salary  Age
0  Alice     New York  Concert  2023-10-01   50000   25
1    Bob  Los Angeles   Sports  2023-10-02   60000   30
2  Alice     New York  Concert  2023-10-01   50000   25
3    Eve      Chicago  Theatre  2023-10-03   70000   35
4    Bob  Los Angeles   Sports  2023-10-02   60000   30
5    Eve      Chicago  Theatre  2023-10-03   70000   35
6    Red     St.louis   Office  2023-10-04   80000   40

In [12]:
import pandas as pd

# Sample DataFrame
data = {
    'Math': [85, 90, 78],
    'Physics': [92, 88, 84]
}
df = pd.DataFrame(data)

# Compute mean of each column
column_means = df.mean()
print(column_means)

Math       84.333333
Physics    88.000000
dtype: float64

In [14]:
tuple1 = (1, 2, 3)
print(tuple1[2])  # Accessing the first element of the tuple

3